.filtering {
  display: grid;

  grid-template-columns: 209px 328px auto auto;
  position: sticky;
  top: var(--header-height);
  background: var(--background);
  height: 40px;
  z-index: 1;
}

.filtering button {
  opacity: 0.3;
}

.filtering button.active {
  opacity: 1;
}

button.all {
  margin-right: 30px;
}
