.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 70px;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
