ul.artists {
  margin-top: 8px;
  padding-bottom: calc(var(--margin) * 3);
  display: flex;
  flex-direction: column;
}

li.artist {
  width: fit-content;
  display: inline-block;
  height: fit-content;
  overflow: hidden;
}

.info {
  position: fixed;
  left: calc(100vw - 200px);

  top: calc(var(--header-height) + var(--list-height) + var(--margin));
}

.filtering {
  position: sticky;
  top: var(--header-height);
  height: var(--list-height);
  display: grid;
  grid-template-columns: 200px auto;

  background: var(--foreground);
  color: var(--background);

  z-index: 1;
  padding: 3px;
  padding-bottom: 10px;
  border-bottom: var(--border) solid var(--background);
}

.filtering button {
  opacity: 0.3;
}

.filtering button.active {
  opacity: 1;
}

.filtering button.all {
  margin-right: 30px;
  opacity: 1 !important;
  color: var(--background);
}
