ul.artists {
  margin-top: 8px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: column;
}

li.artist {
  width: fit-content;
  display: inline-block;
  height: fit-content;
  overflow: hidden;
  height: calc(var(--font-size-2) + 7.5px);
}

.info {
  position: fixed;
  left: calc(100vw - 200px);

  top: calc(var(--header-height) + var(--list-height) + var(--margin));
}

.filtering {
  position: sticky;
  top: var(--header-height);
  height: var(--list-height);
  display: grid;

  background: var(--foreground);
  color: var(--background);

  z-index: 1;
  padding: 0px 3px 3px 3px;
  padding-bottom: 10px;
  border-bottom: var(--border) solid var(--background);
  grid-template-columns: repeat(12, 1fr);
}

.filtering button,
.filtering fieldset,
.filtering label,
.filtering input {
  line-height: 1;
}

.filtering button {
  opacity: 0.3;
}

.filtering button.active {
  opacity: 1;
}

.filtering .all {
  grid-row: 1;
  grid-column: 1 / 2;
}

.locations {
  grid-row: 1;
  grid-column: 3 / 13;
  white-space: nowrap;

  overflow-x: scroll;
}

.filtering button.all {
  margin-right: 30px;
  opacity: 1 !important;
  color: var(--background);
}
