.artists {
  margin-top: 8px;
}

.info {
  position: absolute;
  left: calc(100vw - 200px);

  top: calc(var(--header-height) + var(--margin) + 40px);
}

.filtering {
  position: sticky;
  top: var(--header-height);
  height: var(--filter-height);
  display: grid;
  grid-template-columns: 200px auto;

  background: var(--foreground);
  color: var(--background);

  z-index: 1;
  padding: 3px;
  padding-bottom: 10px;
  border-bottom: var(--border) solid var(--background);
}

.filtering button {
  opacity: 0.3;
}

.filtering button.active {
  opacity: 1;
}

.filtering button.all {
  margin-right: 30px;
  opacity: 1 !important;
  color: var(--background);
}
