.icon,
.icon * {
  fill: inherit;
  /* height: 10px; */
  /* width: fit-content; */
}

.icon {
  position: relative;
  /* width: fit-content; */
}

.icon svg {
  position: absolute;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}
