main.main {
  padding: var(--margin);
  padding-top: calc(var(--margin) / 2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.image {
  position: fixed;
  width: 90vw;
  height: auto;

  /* mix-blend-mode: lighten; */
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .image {
    width: 30vw;
    /* max-height: 30vh; */
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
