main.main {
  padding: var(--margin);
  padding-top: calc(var(--margin) / 2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: auto;
  height: auto;

  width: 90vw;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: lighten; */
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .image {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
