main.main {
  padding: var(--margin);
  padding-top: calc(var(--margin) / 2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* position: sticky; */
  /* top: var(--header-height); */
}

.image {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: lighten; */
}
