.pinned {
  position: sticky;
  /* Header Height + Filter Menu Height */
  top: calc(var(--header-height) + 40px);
  z-index: 1;
}

.calendar_section {
  margin-bottom: 100px;
}

.content {
  background: var(--foreground);
  color: var(--background);
}

.calendar section {
  margin-bottom: 150px;
}
