.pinned {
  position: sticky;
  /* Header Height + Filter Menu Height */
  top: calc(var(--header-height) + 40px);
  z-index: 1;
}

.calendar_section {
  margin-bottom: 100px;
}

.content {
  background: var(--foreground);
  color: var(--background);
  border-bottom: var(--border) var(--background) solid;
}

.calendar section {
  margin-bottom: 150px;
}
.calendar section:last-of-type {
  margin-bottom: 180px;
}

.info {
  max-width: 800px;
  margin-left: 528px;
  padding-top: 10px;
  padding-bottom: 40px;
}
