ul.marquee_inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.marquee_outer {
  overflow: hidden;
}

li.marqueeItem {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%; /* subtract gap proportionally */
  position: relative;
  padding: 0 calc(var(--gap) / 2);
}

header.header {
  display: grid;
  grid-template-columns: 100px auto;
  position: absolute;

  top: 0px;
  left: 0px;
  z-index: 2;
  color: #fff;
  padding: calc(var(--margin) / 3) calc(var(--margin) / 2);
}

header.header a,
header.header a:visited {
  color: #fff;
}

ul.links {
  display: flex;
  flex-direction: column;
}

.media {
  background: #000;
  width: 100%;
  aspect-ratio: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media.smallImage div {
  height: 200px !important;
  width: 200px !important;
}

.text {
  margin-top: calc(var(--margin) / 3);
  padding-right: var(--margin);
}
