footer.footer {
  position: relative;
  height: auto;
  width: 100vw;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;

  background: var(--foreground);
  color: var(--background);

  padding: calc(var(--margin) - 2px) var(--margin) var(--margin) var(--margin);
  z-index: 4;
  row-gap: 50px;
}

footer.footer a,
footer.footer a:visited,
footer.footer button,
footer.footer button:visited {
  color: var(--background);
}

.legal {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.socials {
  display: flex;
  flex-direction: row;
}
.principalPartners .heading,
.generalPartners .heading {
  margin-bottom: calc(var(--margin) * 2);
}

.openingHours {
  display: none;
}

.mediaLinks {
  display: flex;
  flex-direction: column;
}

.mediaLinks a {
  opacity: 0.3;
  transition: opacity 0.4s ease;
}
.mediaLinks a:hover {
  opacity: 1;
}

.pageCopyright {
  grid-column: 1;
}

.principalPartners {
  grid-column: 1;
}
.generalPartners {
  grid-column: 2;
}

.address {
  grid-column: 1 / 3;
}
.inHouseLinks {
  grid-column: 1 / 3;
  grid-row: 2;
}

.generalPartners,
.principalPartners {
  display: flex;
  flex-direction: column;
  height: 40px;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  footer.footer {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr auto;
    min-height: 250px;
  }
  .pageCopyright {
    display: flex;
    align-items: flex-end;
  }

  .address {
    grid-column: 1 / 12;
  }
  .inHouseLinks {
    display: contents;
  }
  .newsletter {
    grid-column: 12 / 20;
  }
  .mediaLinks {
    grid-column: 20 / 25;
  }
  .openingHours {
    display: flex;
  }
  .pageCopyright {
    grid-row: 2;
    grid-column: 1 / 5;
  }
  .imprint {
    grid-row: 2;
    grid-column: 5 / 7;

    display: flex;
    align-items: flex-end;
  }
  .generalPartners,
  .principalPartners {
    grid-row: 2;
    flex-direction: row;
    gap: 20px;

    align-items: flex-end;
  }
  .principalPartners {
    grid-column: 12 / 20;
  }
  .generalPartners {
    grid-column: 20 / 25;
  }
  .principalPartners .heading,
  .generalPartners .heading {
    margin-bottom: 0px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
