footer.footer {
  position: relative;
  height: 270px;
  width: 100vw;

  /* left: calc(-1 * var(--margin)); */
  /* bottom: calc(-1 * var(--margin)); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--foreground);
  color: var(--background);

  padding: var(--margin);
  z-index: 15;
  gap: var(--margin);
}

footer.footer a,
footer.footer a:visited,
footer.footer button,
footer.footer button:visited {
  color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 15%;
}

.legal {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main > .newsletter {
  display: flex;
  flex-direction: column;
}

.main > .linktree {
  display: none;
}

.socials {
  display: flex;
  flex-direction: row;
}

.not_allowed {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed !important;
}

.openingHours {
  display: none;
}

.external {
  /* display: flex; */
  align-items: flex-end;
  /* flex-direction: column; */
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .openingHours {
    display: flex;
  }

  footer.footer {
    gap: unset;
    height: 250px;
  }

  .main > .linktree {
    display: flex;
  }

  .main {
    display: grid;
    grid-template-columns: 50% 30% auto;
    flex-direction: row;
    justify-content: unset;
  }
  .external {
    flex-direction: row;
  }
  .socials {
    flex-direction: row;
  }

  .legal {
    display: grid;
    grid-template-columns: 50% 30% auto;
    flex-direction: row;
    justify-content: unset;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
