.callToAction * {
  line-height: 1 !important;
}

.callToAction input {
  height: 40px;
  margin-top: -8px;
}

.prompt {
  margin-bottom: 6px;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  .prompt {
    margin-bottom: 3px;
  }

  .callToAction input {
    height: 60px;
    margin-top: -8px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
