ul.marquee_inner {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.marquee_outer {
  overflow: hidden;
}

.carousel_outer {
  max-width: 100vw;
  margin: auto;
  user-select: none;
  cursor: grab;
  overflow: hidden;
}

.carousel_inner {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(2px * -1);
}
.slide {
  padding-left: 1.5px;
}
