/* .carousel_inner > * {
  flex: 0 0 auto;
} */

.carousel_outer {
  position: relative;
  width: calc(100vw - var(--margin) * 2);
  /* width: 100vw; */
  /* left: calc(-1 * var(--margin)); */
  max-width: 100vw;
  margin: auto;
  user-select: none;
  cursor: grab;
  overflow: hidden;
}

.carousel_inner {
  display: flex;
  touch-action: pan-y pinch-zoom;
  /* margin-left: calc(2px * -1); */
  will-change: transform;
}
