/* FILTERING */

.filtering {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  position: sticky;
  top: var(--header-height);
  background: var(--background);

  z-index: 1;
  background: #eee;
  padding: 3px 3px 10px;
}

.filtering button {
  opacity: 0.3;
}

.filtering button.active {
  opacity: 1;
}

button.all {
  opacity: 1;
}

.filtering .years,
.filtering .types {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge (old) */
}

.filtering .all {
  grid-row: 1;
  grid-column: 1 / 2;
}

.filtering .years {
  grid-row: 1;
  grid-column: 3 / 13;
  white-space: nowrap;
  overflow-x: scroll;
}

.filtering .types {
  grid-row: 2;
  grid-column: 1 / 13;
  white-space: nowrap;
  overflow-x: scroll;
}

.filtering .search {
  grid-row: 3;
  grid-column: 1 / 13;
}

/* EVENT */

.event {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: var(--line-height-3) auto var(--line-height-3) 1fr;
  background: var(--foreground);
  color: var(--background);
  border-bottom: var(--border) solid var(--background);
  padding: 3px;
  padding-bottom: 10px;
}

.event > .type {
  grid-column: 1 / 5;
  grid-row: 1;
}

.event > .date {
  grid-column: 7 / 12;
  grid-row: 1;
  white-space: nowrap;
  width: 100%;
}

.event > .media {
  width: auto !important;
  grid-column: 1 / 4;
  grid-row: 2;
  margin: calc(var(--margin) / 4) 0px;
}

.event > .title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  grid-column: 1 / 13;
  grid-row: 3;
}

.event > .text {
  grid-column: 1 / 13;
  grid-row: 4;

  overflow: hidden;
  text-overflow: ellipsis;
}

.event > .link,
.event > .counter {
  display: none;
}

.event > .expand {
  grid-column: 24 / end;
  display: flex;
  justify-content: end;
  /* height: var(--line-height-3); */
  /* width: var(--line-height-3); */
}

.event.past.expanded {
  border-bottom: var(--border) solid var(--foreground);
}

.event.invert {
  background: var(--background);
  color: var(--foreground);
  border-bottom: var(--border) solid var(--foreground);
}

.media {
  height: 110px !important;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .filtering {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    height: 40px;
  }

  .filtering .all {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .filtering .years {
    grid-row: 1;
    grid-column: 4 / 8;
  }
  .filtering .types {
    grid-row: 1;
    grid-column: 9 / 18;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .filtering .search {
    grid-row: 1;
    grid-column: 20 / end;
  }

  /* EVENT */
  .event {
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: var(--line-height-3) 1fr;
  }

  .event > .date {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    width: unset;
    gap: 10px;
    grid-column: 4 / 8;
  }

  .event > .media {
    width: auto !important;
    grid-column: 1 / 4;
    grid-row: 2;
    margin: calc(var(--margin) / 4) 0px;
  }

  .event > .type {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .event > .media {
    margin: var(--margin) 0px 0px 0px;
    grid-row: 2;
    grid-column: 4 / 8;
  }
  .event > .title {
    grid-column: 9 / 18;
    grid-row: 1;
  }
  .event > .text {
    grid-column: 9 / 18;
    grid-row: 2;
  }
  .event > .link,
  .event > .counter {
    grid-column: 20 / 22;
    display: flex;
  }
  .event > .expand {
    grid-column: 24 / 25;
    display: flex;
    justify-content: end;
    transform-origin: center center;
  }
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
