li.slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  /* aspect-ratio: 4 / 5; */
  padding-left: 2.5px;
}

header.header {
  display: grid;
  grid-template-columns: 100px auto;
  position: absolute;

  top: 0px;
  left: 0px;
  z-index: 2;
  color: #fff;
  padding: 3.5px 7px;
}

header.header a,
header.header a:visited {
  color: #fff;
}

ul.links {
  display: flex;
  flex-direction: column;
}

.media {
  background: #000;
  width: 100%;
  aspect-ratio: 0.8 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.media.smallImage div {
  height: auto !important;
  /* width: auto !important; */
  max-height: calc(100% - var(--margin) * 4) !important;
  max-width: calc(100% - var(--margin) * 4) !important;
}

.text {
  margin-top: calc(var(--margin) / 3);
  padding-right: var(--margin);
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
  li.slide {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

/* Large Format Screens */
@media screen and (min-width: 1280px) {
  .card {
    height: 560px;
  }
  .announcement .card {
    width: calc(0.8 * 560px);
  }
  li.slide {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
