header.header {
  position: sticky;
  z-index: 5;
  top: 0px;
  left: 0px;

  width: 100vw;

  display: flex;
  justify-content: space-between;
  color: var(--foreground);
  background: var(--background);

  padding: var(--margin);
  height: var(--header-height);
}

.marquee {
  width: 100px;
}

header.header a,
header.header a:visited {
  color: var(--foreground);
}

nav.nav ul {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

ul.nav_section {
  margin-right: 30px;
}
