.event {
  display: grid;
  grid-template-columns: 200px 330px auto auto;

  background: var(--foreground);
  color: var(--background);
  border-bottom: var(--gap) solid var(--background);
  padding: calc(var(--margin) / 1.5);
  padding-bottom: calc(var(--margin));
}

.expand {
  display: flex;
  justify-content: end;
}

.event.invert {
  background: var(--background);
  color: var(--foreground);
  border-bottom: 1px solid var(--foreground);
}
