.event {
  display: grid;
  grid-template-columns: 200px 330px auto auto;

  background: var(--foreground);
  color: var(--background);
  border-bottom: var(--border) solid var(--background);
  padding: 3px;
  padding-bottom: 10px;
}

.expand {
  display: flex;
  justify-content: end;
}

.event.invert {
  background: var(--background);
  color: var(--foreground);
  border-bottom: var(--border) solid var(--foreground);
}
