:root {
  --background: #ffffff;
  --foreground: #000000;
  --link_color: #5d5a5a;

  --margin: 12px;

  --header-height: 45px;
  --filter-height: 40px;

  --gap: 2px;
  --border: 1.5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-size: 10px;
  line-height: 1;
  overscroll-behavior: none;
}

body {
  margin: 0;

  color: var(--foreground);
  background: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-family: TextgyreHeros, "Helvetica Neue", Arial, sans-serif;
  font-weight: 375;
}

main {
  padding: 0 var(--margin);

  min-height: calc(100vh - var(--header-height));
}

.invert {
  color: var(--background) !important;
  background: var(--foreground) !important;
}

.invert a,
.invert a:visited,
.invert button,
.invert button:visited {
  color: var(--background) !important;
}

.invert header a,
.invert header a:visited,
.invert header button,
.invert header button:visited {
  color: var(--foreground) !important;
}

section {
  margin-bottom: 350px;
}

section h3 {
  margin-bottom: calc(var(--margin) * 0.75);
}

.invert footer {
  color: var(--foreground) !important;
  background: var(--background) !important;
}

.invert footer a,
.invert footer a:visited,
.invert footer button,
.invert footer button:visited {
  color: var(--foreground) !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 0;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: inherit;
}

a,
a:visited,
button,
button:visited {
  color: var(--foreground);
  text-decoration: none;
  font-size: unset;
  font-family: unset;
  text-align: unset;
  background: transparent;
  border: none;
  cursor: pointer;
}

input,
fieldset,
label {
  all: unset;
}

.two-column {
  columns: 2;
  gap: 10px;
  margin: 0 20% 0 200px;
  font-size: var(--font-size-longcopy);
  line-height: var(--line-height-longcopy);
  max-width: 1000px;
  padding-top: 10px;
}

@media (hover: hover) and (pointer: fine) {
}

mux-player {
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  --gradient-shadow: none;
  --media-loading-indicator-display: none;
  --media-background-color: var(--background);
  --media-background-color: transparent;
  pointer-events: none !important;
  background-color: var(--background) !important;
  background: var(--background) !important;
}

mux-player::part(control-bar) {
  opacity: 1 !important;
  --gradient-steps: none !important;
}

mux-player .mux-spinner {
  display: none !important;
}

.unavailable {
  opacity: 0.2;
  pointer-events: none;
}

/* Phones */
@media screen and (min-width: 320px) {
}

/* iPads and other Tablets */
@media screen and (min-width: 769px) {
}

/* Desktop */
@media screen and (min-width: 1280px) {
}

/* Large Format Screens */
@media screen and (min-width: 2560px) {
}
